{% extends 'layout.html' %}
<!DOCTYPE html>
<html>
<head>
  {% block title %}Your Trip{% endblock %}
</head><!--
 -->{% block content %}<!--

 --><body>
 		<div class="row">
 		<div class="col-lg-8">
	 		<div id="map-canvas">
	 		</div>
 		</div>
		 <div class="col-lg-4">
		      <div class="section">
		        <div class="row">
		          <div class="col-lg-12" id='opts'>
		            <h2>Hotels: </h2>
					  	<select>
							{% for i in hotels %}
						  		<option value="{{i.name}}">{{i.name}}</option>
							{% endfor %}
					  	</select>
					<h2>Restaurants: </h2>
					  	<select>
					  		{% for i in restaurants %}
					  			<option value="{{i.name}}">{{i.name}}</option>
					  		{% endfor %}
						</select>
					<h2>Activities: </h2>
					  	<select>
					  		{% for i in activities %}
					  			<option value="{{i.name}}">{{i.name}}</option>
					  		{% endfor %}
						</select>
		          </div>

		        </div><!-- /.row -->
		      <div class="row">
		          <div class="col-lg-12" id='days'>
		            <h1>Day 2</h1>
		          </div>

		        </div><!-- /.row -->

		   <div class="row">
		      <div class="col-lg-12" id ='allDays'>
		        <h1>orange day list ???</h1>
		      </div>

		    </div><!-- /.row -->

		    <div class="row">
		      <div class="col-lg-12" id='currentPlan'>
		        <h2>Hotels: </h2>
		  <select>
		  {% for i in hotels %}
		  <option value="{{i.name}}">{{i.name}}</option>
		  {% endfor %}
		</select>
		  <h2>Restaurants: </h2>
		  <select>
		  {% for i in restaurants %}
		  <option value="{{i.name}}">{{i.name}}</option>
		  {% endfor %}
		</select>
		  <h2>Activities: </h2>
		  <select>
		  {% for i in activities %}
		  <option value="{{i.name}}">{{i.name}}</option>
		  {% endfor %}
		</select>
		      </div>

		      </div><!-- /.row -->


		    </div><!-- /.section -->
    </div>

</body>
{% endblock %}

</html>





<!--   <h2>Hotels: </h2>
  <select>
  {% for i in hotels %}
  <option value="{{i.name}}">{{i.name}}</option>
  {% endfor %}
</select>
  <h2>Restaurants: </h2>
  <select>
  {% for i in restaurants %}
  <option value="{{i.name}}">{{i.name}}</option>
  {% endfor %}
</select>
  <h2>Activities: </h2>
  <select>
  {% for i in activities %}
  <option value="{{i.name}}">{{i.name}}</option>
  {% endfor %}
</select> -->
