<!DOCTYPE html>
<html lang="en">
  <title>Trip Planner - {% block title %}{% endblock %}</title>
  <head>
    <!-- Stylesheets go here! -->
     <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  </head>
  <body>

  <nav class="navbar navbar-default navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span>Trip Planner!!!!!<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
      <li><a href="#">Page Sarah</a></li>
      <li><a href="#">Page Monica</a></li>
    </ul>
  </div>
</nav>

    {% block content %}
    {% endblock %}


    <!-- Script tags go here! -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaVeTLXhZLMErmRh__xW620CgOiB0DsTw&sensor=true"></script>
    <script src="/maps.js"></script>
  </body>
</html>
