// h1{
// 	color:purple;
// }

.row {
  margin: 0 auto;
  width: 100%;
  clear: both;
  max-height: 100%;
  text-align: center;


}

.col-lg-4 {
  float: right;
  font-family: fantasy;
  color: white;
  max-height: 100%;
  //background-color: deeppink;
}

#opts {
  background-color: #8cd4ff;
}

#days {
  background-color: #003a65;
}

#allDays {
  background-color: #8A2BE2;
}

#currentPlan {
  background-color:#009085;
}
